[user]
	name = Razzi Abuissa
	email = razzi53@gmail.com
[push]
	default = current
[credential]
	helper = osxkeychain
[alias]
	base = "!echo master"
	branch-exists = "!git show-ref --quiet refs/heads/$1 #"
	cl = clone
	clean = "!git clean -i"  # does not work...?
	commit-id = "!git rev-parse @ | tr -d '\n'"
	current = rev-parse --abbrev-ref HEAD
	fallback-to-base = "!if [ -n \"$1\" ]; then echo \"$1\"; else git base; fi #"
	last-commit-message = log -1 --pretty=%B
	new = diff --cached
	review = "!git diff $(git review-base \"$1\") #"
	review-base = "!git merge-base `git current` $(git fallback-to-base \"$1\") #"
	root = rev-parse --show-toplevel
	tree = log --graph --oneline --all
	show-diff = show --pretty=format:%b
	show-stash = stash show -p
	status = status -sb
	start = !git init && hub create
	stash-unstaged = stash --keep-index --include-untracked
	stash-staged = "!\
		git stash --keep-index > /dev/null &&\
		git stash save > /dev/null &&\
		git stash apply stash@{1} > /dev/null &&\
		git stash show -p | git apply -R &&\
		git stash drop stash@{1} > /dev/null \
	"
	unstage = reset HEAD --
	wdiff = diff --color-words
[core]
	excludesfile = ~/.gitignore_global
	editor=vim
	pager = diff-so-fancy | less --tabs=4 -RFX
[pull]
	rebase = true
[rebase]
	stat = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[diff]
	algorithm = patience
[commit]
	verbose = true
[rerere]
	enabled = true
