[user]
	name = Razzi Abuissa
	email = razzi53@gmail.com
[push]
	default = current
[credential]
	helper = osxkeychain
[alias]
	base = "!echo master"
	branch-exists = "!git show-ref --quiet refs/heads/$1 #"
	cl = clone
	current = rev-parse --abbrev-ref HEAD
	fallback-to-base = "!if [ -n \"$1\" ]; then echo \"$1\"; else git base; fi #"
	new = diff --cached
	review = "!git diff $(git review-base \"$1\") #"
	review-base = "!git merge-base `git current` $(git fallback-to-base \"$1\") #"
	root = rev-parse --show-toplevel
	start = !git init && hub create
	unstage = reset HEAD --
	wdiff = diff --color-words
[core]
	excludesfile = ~/.gitignore_global
	editor=vim
[pull]
	rebase = true
[rebase]
	stat = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[diff]
	algorithm = patience
[commit]
	verbose = true
